/* IMAGE FOND & FLEX  */
html, body {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    background-image: url(../img/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;    
}

/* HEADER  */
header {
    display: flex;
    justify-content: center;
    height: 8rem;    
    animation: animText 700ms ease-in;
}
fieldset {
    margin: auto;
    width: 20rem;
}
h1 {
    font-size: 2.3rem;
    color: rgba(172, 255, 47, 0.796);
    margin: 0;
}
.btn {
    border: 2px solid rgba(172, 255, 47, 0.596);
    border-radius: 0.2rem;
    padding: 0.7rem;
    margin: auto;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;  
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.863);  
    color: greenyellow;
}
.btn:hover {
    background-color: rgba(172, 255, 47, 0.596);
    color: whitesmoke;
}
.btn:active {
    scale: 0.98;
}
.titre {
    color: rgba(172, 255, 47, 0.897);
    line-height: 0.4;
    width: 8rem;
    height: 5.8rem;
    margin: 1.3rem 0 1.3rem 1rem;
    text-align: left;
    letter-spacing: 0.5rem;
    font-size: 1rem;
    font-weight: 100; 
    animation: animAlien 10s ease-in-out infinite;
}
.titre p::first-letter {
    color: rgba(172, 255, 47, 0.597);
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 900;
}
.text1 p{
    transform: rotateY(180deg);
    margin-right: 1rem;
}


/* MAIN  */
.box {
    width: 35rem;
    border: 2px solid rgba(172, 255, 47, 0.24);
    box-shadow: 1px 1px 10px rgba(172, 255, 47, 0.152);
    border-radius: 0.2rem;
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(49, 49, 49, 0.945);
    color: whitesmoke;
}
.search_input p{
    letter-spacing: 0.2rem;
    margin: 0 0 0.3rem 0;
}
input {
    height: 1.5rem;
    font-size: 1.1rem;
    text-align: center;
    border-radius: 0.2rem;
    background-color: rgb(15, 15, 15);
    color: rgb(188, 255, 87);
}
.box img {
    border: 1rem solid rgb(107, 107, 107);
    border-radius: 0 2rem 0 2rem;
    height: 18rem;
    width: auto;
    margin: 1rem 0;
}
.info {
    text-align: left;
    margin: 0 0 0 7.5rem;
}


/* SPAN  */
.box span {
    font-size: 1.5rem;
}
#login {
    margin-left: 0.5rem;
    color: rgba(172, 255, 47, 0.733);
}
#name {
    font-size: 2rem;
    margin-left: 0.2rem;
    font-weight: bold;
    color: greenyellow;
}
#location {
    font-size: 1.1rem;
    color: greenyellow;
    margin-left: 0.7rem;
    font-weight: 100;
}
#repos {
    color: greenyellow;
    margin-left: 0.3rem;
}
#homepage1 a {
    color: greenyellow;
    margin-left: 0.3rem;
}
#homepage1 a:active {
    color: whitesmoke;
}
#login1 {
    margin-left: 0.5rem;
    color: rgba(172, 255, 47, 0.733);
}



/* ANIMATION  */
@keyframes animText {
    0% {
        transform:  translateY(-200%);
    }
    40% {
        transform:  translateY(15%);        
    }    
    75% {
        transform:  translateY(-2%); 
    }
    100% {
        transform:  translateY(0%);
    }
}

@keyframes animAlien {
    0%, 100% {
        letter-spacing: 0.5rem;
        opacity: 0.1;
    }
    50% {
        letter-spacing: 2rem;
        opacity: 0.8;
    }
}


/* MEDIA QUERY  */
@media (max-width:80rem) {
    
    .box {
        width: 45rem;     
    }
    .box img {
        border: 0.6rem solid rgb(107, 107, 107);
        height: 14rem;
    }
    fieldset {
        margin: auto;
        width: 10rem;
        animation: animText 700ms ease-out;
    }
    .info_block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .info {
        margin: 2rem 0 0 2rem;
        line-height: 2;
    }    
}


@media (max-width:50rem) {    
    
    .box img {
        border: 0.5rem solid rgb(107, 107, 107);
        height: 10rem;
    }
    .titre {
        animation: none;
        color: rgba(172, 255, 47, 0.319);
    }
    .titre p::first-letter {
        color: rgba(172, 255, 47, 0.29);        
    }
    .info {
        margin: 1rem 0 0 1rem;
        line-height: 1.7;
    }       
}


@media (max-width:35rem) {

    .titre {
        display: none;
    }
    .info_block {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .info {
        margin: 0;
    }
}
